<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">            
            <app-select-client 
            [clientSelected]="clientSelected.name + clientSelected.lastName" 
            (selectedClient)="defineClient($event)" 
            (canceledClient)="removeClient()">
            </app-select-client>
            
            <div class="mt-3">
                <label for=""> Price </label>
                <select [(ngModel)]="idPlan" (ngModelChange)="selectPlan()" class="form-control">
                    <option [value]="null"> Select a plan </option>
                    <option *ngFor="let plan of plans" [value]="plan.id"> {{plan.name}} </option>
                </select> 
            </div>

            <div class="mt-3">
                <label>Fecha inicio</label>
                <input class="form-control" [value]="enrollment.initialDate | date" type="text" disabled>
            </div>

            <div class="mt-3">
                <label>Fecha finaliza</label>
                <input class="form-control" [value]="enrollment.endDate | date" type="text" disabled>
            </div>

            <div class="mt-3">
                <label>Total</label>
                <input class="form-control" [value]="enrollment.total" type="number" disabled>
            </div>
            
            <div class="mt-3">
                <button class="btn btn-primary" (click)="save()"> Save </button>
            </div>
        </div>
        
        <div class="col-sm-4">

            <div *ngIf="clientSelected.imgURL" >
                <img [src]="clientSelected.imgURL" class="imgClient">
            </div>
            <div>
                <p> {{clientSelected.name}} {{clientSelected.lastName}}</p>
                <p>{{clientSelected.email}}</p>
            </div>
        </div>
    </div>

</div>